
<h2>Ви не є автором цього допису, тому не можете редагувати його</h2>
<br />
<br />
<div class="btn btn-default">
    @Html.ActionLink("Повернутися до теми", "Details", "Topics", new { id = (int)ViewBag.TopicId }, null)
</div>
