
<div><h2>Ви не є автором даної теми, тому не можете редагувати її</h2></div>
<br />
<br />
<div class="btn btn-default">
    @Html.ActionLink("Повернутися до теми", "Details", "Topics", new { id = (int)ViewBag.TopicId }, null)
</div>
